/* styles.css */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Footer Styling */
header, footer {
    background-color: #0981fa;
    padding: 1em;
    text-align: center;
}

/* Navigation Styling */
nav {
    background-color: #cb28f4;
    color: white;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

/* Main content styling */
.content {
    padding: 2em;
}

/* SVG Styling */
svg {
    width: 200px;
    height: 200px;
}

.star {
    fill: gold;
    stroke: rgb(4, 0, 0);
    stroke-width: 1;
}

.butterfly {
    fill: #5010db;
    stroke: #d5b70c;
    stroke-width: 1.5;
}
